
@media(max-width:560px){
    #priya{
        height:150px;
        width:400px;
        margin-left: 0px;
    }
    #para{
        margin-left:0px;
        margin-top:40px;
    }

}
@media(min-width:560px){
    #priya{
        height:250px;
        width:470px;
    }
    #para{
        margin-left:50px;
    }
}
@media(min-width:600px){
    #priya{
        height:250px;
        width:600px;
    }
    #para{
        margin-left:20px;
    }
}
@media(min-width:840px){
    #priya{
        height:250px;
        width:810px;
    }
    #para{
        margin-left:30px;
    }
}
@media(min-width:1100px){
    #priya{
        height:250px;
        width:990px;
    }
    #para{
        margin-left:100px;
        margin-top:20px;
    }
}
@media(min-width:1270px){
    #priya{
        height: 250px;
        width:1185px;
    }
    #para{
        margin-left:80px;
        margin-top:30px;
        font-weight: bold;
    }
    
}
#my_centered_buttons { 
    display: flex;
     justify-content: center;
     }
     